* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* paleta de colores
#56c084
background-image: linear-gradient(to right, #434343 0%, black 100%); negro ejemplo profe netflix
*/

@media (max-width:425px ) {
    .img {
        max-width: 146px;
        max-height: 182px;
    }
}
@media (max-width:425px ) {
    nav {
        max-width: 146px;
        max-height: 182px;
    }
}




.color-fondo {
    background-image: linear-gradient(to bottom, #f3e1ba 0%, #d1fdff 100%);
}
/* 
.header .navbar {
     background-color: transparent !important; 
  } */

 .header {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;  */
    background-color: #99ce9c; 
    min-height: 20vh;
    max-width: 100%;
    /* font-weight: 500; */
} 

.navbar-collapse {
     flex-direction: row-reverse; 
}



/* .header {
    min-height: 20vh;
} */
a img {
    width: 120px;
    border-radius: 2em;
}

 /*.nav ul {
    display: flex;
    list-style: none;
    width: 700px;
    justify-content: space-around; 
}

.nav ul a {
     text-decoration: none;
    color: white;
    font-weight: bold; 
} */

.footer {
    background-color: #99ce9c;
    min-height: 10vh;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 .main {
    min-height: 70vh;
    /* font-size: ; */
}
.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
      "new-clothes"
      "container-photos";
  }
  
  .container-photos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto-1 foto-2 foto-3 foto-4"
      "foto-5 foto-6 foto-7 foto-8";
    grid-area: container-photos;
  }
  
  .foto-1 { grid-area: foto-1; }
  .foto-2 { grid-area: foto-2; }
  .foto-3 { grid-area: foto-3; }
  .foto-4 { grid-area: foto-4; }
  .foto-5 { grid-area: foto-5; }
  .foto-6 { grid-area: foto-6; }
  .foto-7 { grid-area: foto-7; }
  .foto-8 { grid-area: foto-8; }

  .new-clothes {
    justify-self: center;
    align-self: stretch;
    grid-area: new-clothes;
  }

.title-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.articulos {
    max-width: 300px;
}

.articulos img {
    max-width: 325px;
    max-height: 325px;
}

.articulos img:hover {
    cursor: pointer;
}
/* .header ul li a:hover {
    color: #B6915D;
} */

.inicio-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-sociales-contacto {
    display: flex;
    justify-content: center;
    list-style: none;
}
.form-contacto {
    max-width: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-color {
    background-color: #B6915D;
}
.btn-color:hover {
    background-color: #99ce9c;
}

/* parte vieja */

.span-q-somos {
    font-weight: bold;
}
.subrayado {
    text-decoration: underline;
}
