* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* font size Lato */
.title-home {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* var y estilos para redes */
:root {
    --facebook:#3b5999;
    --instagram: #e4405f;
    --whatsapp: #1bd741;
}

.redes-container {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

ul {
    list-style: circle;
}
.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .whatsapp:hover {
    background: var(--whatsapp);
}


.color-fondo {
    background-image: linear-gradient(to bottom, #f3e1ba 0%, #d1fdff 100%);
}
.color-fondo2 {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


/* color de fondo navbar */
.navbar {
    background-color: #f0daac;
}


/* color de fondo catalogo */
.dropdown-item {
     background-color: #f0daac;
     padding: 0;
    --bs-dropdown-bg: #6e583f;
}
.dropdown-item:hover {
    text-decoration: underline;
}
/* backg image header */
 .header {
    background-image: url("../imagenes/camisa-apolo3.jpg");
    min-height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 
/* h1 y p en el header */
.title-header {
    background-color: #0000002a; 
    max-width: 310px;
    backdrop-filter: blur(10px);
    padding: 30px;
    color: white;
    text-align: center;
    margin-left: 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-collapse {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.ancho-maximo {
    max-width: 1150px;
}


a img {
    width: 120px;
}

.footer {
    background-color: #99ce9c;
    /* min-height: 10vh; */
}

 .main {
    min-height: 70vh;
}
.flex {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* grids index y productos */
.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
      "new-clothes"
      "container-photos";
  }
  
  
.container-photos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "foto-1 foto-2 foto-3 foto-4"
    "foto-5 foto-6 foto-7 foto-8";
    grid-area: container-photos;
}

.foto-1 { grid-area: foto-1; }
.foto-2 { grid-area: foto-2; }
.foto-3 { grid-area: foto-3; }
.foto-4 { grid-area: foto-4; }
.foto-5 { grid-area: foto-5; }
.foto-6 { grid-area: foto-6; }
.foto-7 { grid-area: foto-7; }
.foto-8 { grid-area: foto-8; }

.new-clothes {
    justify-self: center;
    align-self: stretch;
    grid-area: new-clothes;
    margin-top: 8px;
}

/* grid layout 2 */

.container2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-auto-columns: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas:
      "all-products"
      "container-photos2";
  }
  
  
.container-photos2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "foto--1 foto--2 foto--3 foto--4"
    "foto--5 foto--6 foto--7 foto--8"
    "foto--9 foto--10 foto--11 foto--12"
    "foto--13 foto--14 foto--15 foto--16";
    grid-area: container-photos2;
}

.foto--1 { grid-area: foto--1; }
.foto--2 { grid-area: foto--2; }
.foto--3 { grid-area: foto--3; }
.foto--4 { grid-area: foto--4; }
.foto--5 { grid-area: foto--5; }
.foto--6 { grid-area: foto--6; }
.foto--7 { grid-area: foto--7; }
.foto--8 { grid-area: foto--8; }
.foto--9 { grid-area: foto--9; }
.foto--10 { grid-area: foto--10; }
.foto--11 { grid-area: foto--11; }
.foto--12 { grid-area: foto--12; }
.foto--13 { grid-area: foto--13; }
.foto--14 { grid-area: foto--14; }
.foto--15 { grid-area: foto--15; }
.foto--16 { grid-area: foto--16; }


.all-products {
    justify-self: center;
    align-self: stretch;
    grid-area: all-products;
    margin-top: 8px;
}
  

.articulos {
    max-width: 300px;
    max-height: 400px;
}

.articulos img {
    max-width: 325px;
    max-height: 325px;
}

.articulos img:hover {
    cursor: pointer;
}

.margin {
    margin: 15px;
}
.redes-sociales-contacto {
    display: flex;
    justify-content: center;
    list-style: none;
}

.flex-prueba {
    display: flex;
}

.form-contacto {
    max-width: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
}

.iframe {
    display: flex;
    flex: 1 0 0%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn-color {
    background-color: #f0daac;
    margin-bottom: 15px;
}
.btn-color:hover {
    transition: .4s;
    box-shadow: 7px 8px 3px 1px rgba(0,0,0,0.75);
} 

/* quienes somos */

.title-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 20px 0px;

}
.title-quienes-somos p {
    max-width: 800px;
}
.span-q-somos {
    font-weight: bold;
}

.subrayado {
    text-decoration: underline;
}

.quienes-somos {
    display: flex;
    justify-content: center;
    list-style: none;
}
.quienes-somos img {
    padding: 10px;
}

/* @media (max-width:425px ) {
    .img {
        max-width: 146px;
        max-height: 182px;
    } 
}

@media (max-width:768px ) {
    nav {
         min-width: 800px; 
    }
    body {
       min-width:80px;
    }
    .iframe i iframe {
        max-width: 300px;
    }

}

@media (max-width:1060px) {
    .header-contacto{
        display: flex;

    }
}

@media (max-width:425px) {
    
} */

@media (max-width:488px) {
    .redes-container {
        display: flex;
        flex-direction: row;
        height: 50vh;
        flex-wrap: nowrap;
    }
    /* .quienes-somos img {

    } */
}